.types {
    display: flex;
}

.types__types {
    font-size: 10px;
    background: #424141;
    margin: 0 10px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px #000 solid;
    color: #fff;
    margin-bottom: 5px;
    margin-top: -30px;
}
