.history {
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow: auto;
}

.history__button {
    margin: 5px;
    border-radius: 10px;
    min-height: 30px;
}
